/* I. Selectors */
/* Put styles for questions 1.1, 1.2, 1.3 and 1.4 here */
article {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid black;
}

.style-me1 {
    color: red;
}

#style-me2 {
    color: blue;
}

#style-me2.style-me1 {
    color: purple;
}

/* Put styles for questions 2.1 and 2.2 here */
.my-descendants-are-styled p {
    background: red;
}

.my-children-are-styled > p {
    background: lightgreen;
}

/* II. Box model and common properties */
/* Put styles for questions 1-8 here */
.box{
    background-color: aqua;
    margin: 2px;
    padding: 3em;
    width: 30vh;
    height: 30vh;
}



/* III. Positioning */
/* Put styles for questions 1-3 here */

/* IV. Styling text */
/* Put styles for questions 1-10 here */

/* V. Styling links */
/* Put styles for questions 1-3 here */

/* VI. calc() */
/* Put styles for questions 1-3 here */
